<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Fortune</title>
		<link rel="stylesheet" href="/style.css">
		<style>
			.fortune-text {
				width: 75vw;
				font-size: 5em;
				font-weight: bold;
				padding-bottom: 5vh;
				border-bottom: 5px solid red;
			}
		</style>
	</head>
	<body class="center-it">
		<code class="fortune-text">
			{{ text }}
		</code>
	</body>
</html>
